*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.common-btn{
  display:inline-block;
  padding: 10px 20px;
  background-color: #2563EB;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;

  font-family: 'Inter', sans-serif;
  cursor: pointer;
  
}

.header{
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0;

  
}

ul{
  display: flex;
  list-style: none;
  gap: 22px;
}
ul li a{
  text-decoration: none;
  color: #0D1B2A;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Inter', sans-serif;
}
/*hero section*/

.hero{
  background-image:
  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
  url("../images/banner.jpg");

  background-repeat: no-repeat;       
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:0px 20px;

  
}
.hero-content{
    max-width: 800px;
    margin-bottom: 45px;
}
.hero-content h1{
    font-size: 64px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 25px;

}
.hero-content p{
    font-size: 22px;
    line-height: 1.7;
    color: #ffffff;
    margin-bottom: 40px;
    font-weight:normal;
    margin-bottom: 70px;
}
.second-btn{
    margin-top: 95px;
}
/*speakers style*/
.speakers{
max-width: 1300px;
margin: 70px auto;

}
.speakers h2{
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 56px;
  margin-bottom: 40px;
  font-weight:700
  color: #000102
}
.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.card{
    background: #ffffff;
    border: 1px solid #E5E7EB;
    border-radius: 15px;
}

.category{
  color: #2563EB;
  font-size: 600;
  font-size: 12px;
  font-family: 'Inter', sans-serif;

}
.text{
  padding: 15px;
  line-height: 25px;
}
.cards h3{
  color:#0D1B2A;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;

}
.job-field{
  font-family: 'Inter', sans-serif;
  font-size:14px;
  font-weight: 300;
}
.card-img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}